{
    "empty": (),
    "wall1": (
        diffuse: 0.8,
        display_opacity: 0.3,
    ),
    "wall2": (
        diffuse: 0.82,
        display_opacity: 0.3,
    ),
    "wall3": (
        diffuse: 0.78,
        display_opacity: 0.3,
    ),
    "redglass": (
        opacity: (0.01, 0.1, 0.1),
    ),
    "blueglass": (
        opacity: (0.1, 0.1, 0.01),
    ),
    "light": (
        emissive: 5.0,
    ),
    "light2": (
        emissive: 10.0,
    )
}
