(
    world_size: (512, 512),
    // pixel_size: 4,
    // dpi: 2.0,
    bounce_cascades: (
        base_interval: (1.5, 6.0),
        base_probe_spacing: 2.0,
        base_size: (
            probes: (256, 256),
            facings: 4, 
        ),
        num_cascades: 5,
        spatial_factor: 1,
        angular_factor: 2,
    ),
    cascades: (
        base_interval: (0.0, 1.0),
        base_probe_spacing: 1.0,
        base_size: (
            probes: (512, 512),
            facings: 1,
        ),
        num_cascades: 6,
        spatial_factor: 1,
        angular_factor: 2,
    ),
)