(
    pixel_size: 4,
    dpi: 2.0,
    brushes: {
        Mouse(Left): ["wall1", "wall2", "wall3"],
        Mouse(Right): "empty",
        Mouse(Middle): "light",
        Mouse(Back): "redglass",
        Mouse(Forward): "blueglass",
    }
)
